@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --primary-color:#6D28D9;
    --dark-gray: #6B7280;
    --off-white: #E5E7EB;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    box-sizing: border-box;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding: 0rem 1rem 2rem;
} 

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-para {
    text-decoration: none;
    color:var(--primary-color);
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.link-center {
    text-align:center;
    margin:auto;
    padding: 1rem 0;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .link:hover {
    border: 1px solid white;
    border-radius: .5rem;
}

.navigation .nav-pills {
    text-align: right;
    padding-bottom: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    font-size: 2.5rem;
    text-align: center; 
}

.hero .hero-heading .heading-highlighted {
    color: var(--primary-color)
}

/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
    text-align: center;
    padding-top: 1rem;
}

/* footer */

footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: rgb(255, 255, 255);
}

.footer .link:hover {
    transform: scale(1.5);
    transition-duration: 500ms;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .link {
    padding: 0.5rem;    
}

.frost {
    border: 2px solid var(--dark-gray);
    border-radius: 2rem;
}

.li-padding {
    padding:1rem 0rem;
}